<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIT.GasStation.Properties.HotKeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KIT.GasStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KIT.GasStation.Properties.HotKeys>
            <setting name="FuelSaleCashless" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="FuelSaleCash" serializeAs="String">
                <value>F1</value>
            </setting>
        </KIT.GasStation.Properties.HotKeys>
        <KIT.GasStation.Properties.Settings>
            <setting name="NameGasStation" serializeAs="String">
                <value />
            </setting>
            <setting name="IdGasStation" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoClosingShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceiptPrintingMode" serializeAs="String">
                <value>After</value>
            </setting>
            <setting name="DefaultCashRegisterId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="DefaultUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultUserPassword" serializeAs="String">
                <value />
            </setting>
        </KIT.GasStation.Properties.Settings>
    </userSettings>
</configuration>